.main_error_container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #000000;
  /* ------ */
  display: flex;
  align-items: center;
  justify-content: center;
}

.error_video_container {
  height: 300px;
  width: 800px;
  /* ------ */
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_end_style {
  display: none;
}

.error_message {
  text-align: center;
}

.error_message p {
  font-size: 20px;
  margin-bottom: 20px;
}

.bloody_text {
  margin: 20px 0;
  font-size: 4rem;
  font-weight: 700;
  color: #ea0505;
  position: relative;
  display: inline-block;
  font-family: "Creepster", cursive;
  text-shadow: 0 0 5px #8b0000, 0 0 10px #8b0000, 2px 2px 0 #000,
  4px 4px 0 #300000;
}

/* Optional: dripping blood animation */

.bloody_text::after {
  width: 6px;
  height: 20px;
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  border-radius: 50%;
  transform: translateX(-50%);
  animation: blood-drip 1.5s infinite ease-in-out;
  background: linear-gradient(to bottom, #ff0000, #8b0000);
}

@keyframes blood-drip {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 15px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

/* Error image style__ */

.error_image_one {
  position: absolute;
  cursor: not-allowed;
  z-index: 499;
  bottom: 10%;
  left: 2%;
}

.error_image_two {
  position: absolute;
  cursor: not-allowed;
  z-index: 499;
  bottom: 10%;
  right: 2%;
}

/* Navigate button__ */

.error_home_button {
  font-size: 1.5rem;
}

.error_home_button:hover {
  text-decoration: underline;
}

/* Responsive style__ */

@media screen and (max-width: 1536px) {
  .error_video_container {
    width: 750px;
  }
}

@media screen and (max-width: 1280px) {
  .error_video_container {
    width: 700px;
  }

  .bloody_text {
    font-size: 3rem;
  }

  .error_image_one {
    width: 200px;
    bottom: 8%;
  }

  .error_image_two {
    width: 200px;
    bottom: 8%;
  }
}