#banner_section {
  max-width: 1920px;
  margin: auto;
  color: #333232;
  position: relative;
  overflow-x: hidden;
  background-color: #010101;
  font-family: "Space Grotesk", sans-serif;
}

/* Absolute content - 01 */

.absolute_content_one {
  position: absolute;
  z-index: 201;
  top: 4.8%;
  left: 2%;
  color: #ffffff;
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 90px;
  cursor: pointer;
}

/* Absolute content - 02 */

.absolute_content_two {
  position: absolute;
  z-index: 201;
  right: 2%;
  bottom: 4%;
  font-size: 5.5rem;
  cursor: pointer;
  line-height: 80px;
  animation: slideUp 1.5s ease-out;
}

/* Animation keyframes */
@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

:root {
  --color-background: #000119;
  --stroke-width: calc(1em / 16);
  --font-size: 30vmin;
  --font-weight: 700;
  --letter-spacing: calc(1em / 8);
}


.absolute_content_two h1 {
  background-clip: text;
  color: var(--color-background);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);
  background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
}

/* Absolute content - 03 */

.absolute_content_three {
  height: 500px;
  width: 500px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 250px);
  right: calc(50% - 250px);
}

/* Absolute content - 04 */

.absolute_content_four {
  position: absolute;
  top: 5%;
  right: 2%;
}

/* Absolute content - 05 */

.absolute_content_five {
  position: absolute;
  left: 3%;
  bottom: 4%;
  color: #ffffff;
  font-size: 20px;
}

.absolute_content_five ul {
  list-style: disc;
  font-weight: 300;
}

.absolute_content_five ul li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.absolute_content_five ul li:hover {
  padding-left: 20px;
  font-weight: 600;
  list-style-type: square;
}

/* Responsive style__ */

@media screen and (max-width: 1536px) {
  
}


@media screen and (max-width: 1280px) {
  
}


@media screen and (max-width: 1024px) {
  
}
@media screen and (max-width: 768px) {
  
}
@media screen and (max-width: 620px) {
  
}
@media screen and (max-width: 475px) {
  
}